html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', 'Poppins';
    background-color: #F9F6F0;
    color: #3B5447;
}

body{
    margin: 20px;
;
}

header{
    text-align: center;
}

header section{
    margin-bottom: 20px;
    padding: 20px;
}

h1{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 55px;
}

header p{
    margin-top: 0;
    font-size: 25px;
}

header nav{
    font-size: 20px;
    margin-bottom: 10px;
}

span{
    font-style: italic;
}

main{
    margin-top: 0px;
    padding: 0px;
    border-top: 1px solid #E0E5DC;
}

main section{
    padding: 20px;
    margin: 0;
}

h2{
    font-size: 30px;
    margin-top: 18px;
    margin-bottom: 5px;
}

img{
    width: 25%;
}

main p{
    font-size: 20px;
    margin-top: 0;
}

a{
    text-decoration: none;
    color: #1F0812;
}

a:hover{
    color: #503F3F;
}

a img{
    border:0;
    width:88px;
    height:31px;
}

footer{
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #E0E5DC;
    color: #310D1C;
}

