html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', 'Poppins';
    background-color: #F9F6F0;
    color: #2F474C;
}

body{
    margin: 20px;
}

header{
    text-align: center;
}

header section{
    margin-bottom: 20px;
    padding: 20px;
}

h1{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 65px;
    font-weight: bold;
}

header p{
    margin-top: 0;
    font-size: 30px;
    font-weight: bold;
}

header nav{
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: bold;
}

.slogan{
    font-style: italic;
}

main{
    margin-top: 0px;
    padding: 0px;
    border-top: 1px solid #E0E5DC;
}

main section{
    padding: 20px;
    margin: 0;
}

h2{
    font-size: 45px;
    margin-top: 18px;
    margin-bottom: 5px;
}

form{
    background-color: #F3F7F3;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    width: 65%;
    margin: 0 auto;
    padding: 10px;
}

label{
    font-size: 18px;
    color: #2F474C;
    font-weight: 500;
}

legend{
    font-size: 18px;
    color: #2F474C;
    font-weight: 500;
}

input, select, textarea{
    border: 1.2px solid #9EB4BD;
    border-radius: 6px;
    padding: 4px;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box; 
    background-color: #F3F6F7; 
}

button{
    background-color: #E4DDDD;
    color: #100409;
    font-size: 15px;
    padding: 5px 8px 5px 5px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover{
    background-color: #F3E9E3;
}

h3{
    color: #0E5258;
    font-size: 37px;
    margin-bottom: 13px;
    text-align: center;
    margin-top: 25px;
}

ol{
    margin: 0 auto;
    padding: 10px;
    background-color: #F4F6F3;
    border: 2px solid #9EB4BD;
    border-radius: 3px;
    list-style-type: none;
    border-collapse: collapse;
    max-width: 400px;
}

ol li{
    padding: 8px 15px;
    border-bottom: 1px solid #CEDADE;
}

ol li:last-child{
    border-bottom: none;
}

li{
    color: #273A3F;
}

table{
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #F4F6F3;
    border: 2px solid #9EB4BD;
    border-radius: 3px;
    overflow: hidden;
}

.table1{
    max-width: 475px;
}

.table2{
    max-width: 525px;
}


th, td{
    border: 1px solid #9EB4BD;
    padding: 12px;
    text-align: left;
}

th{
    font-size: large;
    background-color: #415A62;
    color: #F3F6F7;
}


img{
    width: 35%;
}

figcaption{
    font-size: 20px;
    font-family: 'Quicksand', 'Poppins', serif;
    font-weight: 500;
}

main p{
    font-size: 30px;
    margin-top: 0;
}

ul{
    font-size: 23px;
}

a{
    text-decoration: none;
    color: #1F0812;
}

a:hover{
    color: #503F3F;
}

a img{
    border: 0;
    width: 88px;
    height: 31px;
}

footer{
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #E0E5DC;
    color: #310D1C;
    font-size: 20px;
    text-align: center;
}

footer p{
    color: #1F2F33;
}

.inline{
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

.inline{
    display: inline;
}