html {
    color: #231F1A;
    background: #E7E0DA;
}

body {
    font-family: 'Prata', 'Cinzel', 'Italiana', 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #322428;
    color: #F8F4F2;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2 rem;
}

nav {
    background: #3B2B2F;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: #F8F4F2;
    text-decoration: none;
    margin: 0 15px;
    padding: 8px 15px;
    display: inline-block;
}

nav a:hover {
    background: rgba(59, 43, 47, 0.8);
    border-radius: 5px;
    color: #FDDCC3;
}

footer {
    background: #3B2B2F;
    color: #F8F4F2;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
    width: 100%;
}

.main {
    padding: 20px;
    background: #E7E0DA;
    min-height: calc(100vh - 140px);
}

.main p {
    text-align: center;
}

h2 {
    color: #231F1A;
    text-align: center;
    margin-top: 0;
}

.card {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8); 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    height: 250px;
    box-sizing: border-box;
}

h3 {
    margin-top: 0;
    color: #231F1A;
}

#contact-info {
    background: #F7F5F3;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px 0;
}

#slideshow {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 400px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#slideshow .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 2s ease-in-out;

}

#slideshow .slide:first-child {
    opacity: 1;
}