html {
    color: #2F2923;
    background: #E7E0DA;
}

body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #322428;
    color: #F8F4F2;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2 rem;
}

nav {
    background: #3B2B2F;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: #F8F4F2;
    text-decoration: none;
    margin: 0 15px;
    padding: 8px 15px;
    display: inline-block;
}

nav a:hover {
    background: rgba(59, 43, 47, 0.8);
    border-radius: 5px;
    color: #E4C9D4;
}

footer {
    background: #3B2B2F;
    color: #F8F4F2;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
    width: 100%;
}

.main {
    padding: 20px;
    background: #E7E0DA;
    min-height: calc(100vh - 140px);
}

h2 {
    color: #444;
    text-align: center;
    margin-top: 0;
}

.card {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8); 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    height: 250px;
}

.card h3 {
    margin-top: 0;
    color: #333;
}

#contact-info {
    background: #F7F5F3;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px 0;
}