@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Italiana&family=Kaisei+HarunoUmi&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Bacasime Antique', 'Kaisei HarunoUmi', 'Italiana', serif;
}

header, footer {
    width: 100%; /* takes up full viewport width; as per the instructions */
}

header {
    background: #F8F8FF;
    color: #07080A;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header nav {
    display: inline-block;
    text-decoration: none;
    color: #07080A;
}

/* this is needed because of the overlay! the header/nav bar won't work without it; for index.html page */
.header-container {
    position: relative;
    z-index: 2;
}

.logo img{
    display: flex;
    width: 15%;
    height: auto;
}

.search-bar {
    flex: 1;
    text-align: center;
    max-width: 300px; /* change if needed; this makes sure it doesn't take up the whole header between items */
    border: 1px solid #F5F5F5; /* for looks, change later */
    border-radius: 4px; /* for looks, change later */
    padding: 5px; /* for looks, change later */
    box-shadow: #D0CFCF 1px 1px 1px 1px;
    color: #111111; /* for looks; darker text */
}

/* trying to make the placeholder text, in the search bar,darker; may remove later */
.search::placeholder {
    color: #111111;
    opacity: 1;
}

.nav-bar-header {
    display: flex;
    justify-content: flex-end; /* aligns nav bar to the right, as per the instructions */
}

.nav-bar-header a {
    text-decoration: none;
    color: #07080A;
    margin-left: 10px; /* to add a little sapce between links; remove if later not needed*/
}


.success-message, .error-message {
    display: block;
    color: white;
    background-color: rgb(122, 169, 123); 
    border: 1px solid rgb(150, 150, 150); 
    padding: 15px;
    margin: 20px auto; 
    font-size: 1.1rem;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 75%; 
}

.error-message {
    background-color: rgb(192, 84, 84);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
}

.other-pages-background {
    background: #DCCDBC;

}

/* index.html (landing page) styling of the body */
/* starts here (page 1) */
.landing-page {
    background-image: url('../images/museum-398761_1920.min.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:#07080A;
    text-align: center;
    /*font-family: ADD ONE */
    height: 100vh; /* takes up full viewport height */
}

.landing-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.60);
    z-index: -1;
}

.landing-page main {
    margin-top: -50px;
    padding: 20px;
    position: relative;
    z-index: 1;
}

.landing-page h1 {
    font-size: 3.1rem;
    margin-top: 0;
}

.landing-page p {
    font-size: 1.4rem;
    margin-top: 10px;
    text-align: center;
    max-width: 63%;
    line-height: 1.15;
}

.index-to-items-button {
    margin-top: 20px;
    margin-bottom: 100px; /* to move the text up the page; need to find better solution */
    padding: 8px 13px;
    font-size: .9rem;
    background-color: rgb(4, 28, 42, 0.98);
    color: #F8F8FF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Kaisei HarunoUmi', 'Bacasime Antique', 'Italiana', serif;
    text-decoration: none;
}

/* ends here (page 1) */


/*starts here (page 2) */

.browse-items-container {
    display: flex;
    gap: 20px;
    max-width: 100%;
    overflow-x: auto;
    padding: 25px;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: #F9F9FF; /* change as wanted*/
    flex-shrink: 0;
}

.items-pic {
    width: 100%;
    height: 200px;
    display: flec;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.items img {
    width: 100%;
    height: 100%;
}

.items-info {
    width: 100%;
    text-align: left;
    padding: 10px 0 5px 5px;
}

.items h1 {
    font-size: 1.4rem;
    margin-bottom: 5px;
    /*text-align: center;*/
}

.items p {
    font-size: 1rem;
    margin-bottom: 5px;
    /*text-align: left;*/
}


.browse-items-container a {
    text-decoration: none;
    color:#07080A
}


/* ends here (page 2) */


/* starts here (page 3) */
.item-detail-container {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    max-width: 1000px;
    margin: 0 auto;
    gap: 10px;
}

.item-image img {
    width: 75%;
    height: auto;
    /*border: 1px solid #ccc;*/
    border-radius: 8px;
    margin: 0 auto;
}

.item-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 75%;
    text-align: left;
    gap: 25px;
}

.item-info h1 {
    font-size: 2.5rem;
}

.item-info p {
    font-size: 1.2rem;
}

.item-info p span {
    font-weight: bold;
}

.item-buttons {
    display: flex;
    gap: 20px;
}

.item-buttons button {
    padding: 7.5px 18px;
    font-size: 1rem;
    background-color: #07080A;
    color: #F8F8FF;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Bacasime Antique', 'Kaisei HarunoUmi', 'Italiana', serif;
}

.item-buttons-form {
    background-color: transparent; 
    border: none;   
    padding: 0;
    box-shadow: none;
    width: auto;
    height: auto;
}

.items-error-message {
    text-align: left;
    font-size: 1.3rem;
}
/* ends here (page 3) */

/* starts here (page 4 - Sell) */


.new-page-main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    gap: 10px;
}

.new-text-container {
    margin-bottom: 50px;
    padding-left: 10px;
}

.new-text-container h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.new-text-container p {
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.form-container {
    max-width: 100%;
}

form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    max-width: 65%;
    padding: 23px 23px 23px 0;
    background-color: #F9F9FF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
}

form label{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
    font-size: 1rem;
    color: #07080A;
    font-family: 'Bacasime Antique', 'Kaisei HarunoUmi', 'Italiana', serif;
}

form input[type="text"],
form input[type="number"],
form textarea,
form select{
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #F5F5F5;
    border-radius: 4px;
    font-size: 1rem;
    color: #07080A;
    font-family: 'Bacasime Antique', 'Kaisei HarunoUmi', 'Italiana', serif;
}

form textarea {
    height: 100px;
    resize: vertical;
}

form button[type="submit"] {
    grid-column: 2 / 3;
    justify-self: center;
    margin-top: 10px;
    padding: 7.5px 5px;
    background-color: #07080A;
    color: #F8F8FF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Bacasime Antique', 'Kaisei HarunoUmi', 'Italiana', serif;
    width: 100%;
}


/* ends here (page 4) */

/* starts here (page signup/login)*/

.user-form-container {
    max-width: 100%; 
}

.user-form-container form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    max-width: 65%;
    padding: 23px 23px 23px 0;
    background-color: #F9F9FF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
}

.user-form-container label {
    font-weight: bold;
    color: #333;
}

.user-form-container input[type="email"],
.user-form-container input[type="password"],
.user-form-container input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #F5F5F5;
    border-radius: 4px;
    font-size: 1rem;
    color: #07080A;
    font-family: 'Bacasime Antique', 'Kaisei HarunoUmi', 'Italiana', serif;
}

.user-form-container input[type="submit"] {
    grid-column: 2 / 3;
    justify-self: center;
    margin-top: 10px;
    padding: 7.5px 5px;
    background-color: #07080A;
    color: #F8F8FF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Bacasime Antique', 'Kaisei HarunoUmi', 'Italiana', serif;
    width: 100%;
}

.user-form-container input[type="submit"]:hover {
    background-color: #1a1a1a;
}

/*ends here (page signup/login)*/

/* starts here (profile)    */

.profile-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    min-width: 475px;
}

.profile-table span{
    font-style: italic;
    color: grey;
}

.profile-table th,
.profile-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background: #F8F8F8;
    font-size: 1.2rem;
}

.profile-table th {
    background-color: #f2f2f2;
}   

.profile-table table a {
    text-decoration: none;
    color: #37586D;
}

.profile-table table a:hover {
    color: #002642;
}

.profile-table table td form {
    background: transparent;
    box-shadow: none;
    display: flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
}

.profile-table table button {
    padding: 5px 10px;
    margin: 2px;
    cursor: pointer;
    background-color: none;
    display: inline-flex;
    border: none;
    background-color: transparent;
}

.profile-table form {
    padding: 0;
    margin: 0;
    background: transparent;
}

.profile-page-main h1 {
    padding-bottom: 10px;
    font-size: 2rem;
}

.edit-delete-buttons {
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

.edit-delete-buttons img {
    display: block;
    width: 25px;
    height: auto;
}

.profile-table table button:last-child {
    background-color: #07080A;
    color: #F8F8FF;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 2px;
    text-decoration: none; 
}

.profile-table table button:last-child:hover {
    background-color: #3939e9;
}

.profile-page-main h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 2rem;
}

/* ends here (profile)    */


.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 275px;
    padding: 2px;
    margin: 0;
    background: #F8F8F8;
    box-shadow: #D0CFCF 1px 1px 1px 1px;
    height: 30px;
}

.search-bar-container input {
    width: 100%;
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 4px;
    background: transparent;
    color: #111111;
    font-size: 16px;
    outline: none;
    box-shadow: none;
    margin: 0;
}

.search-bar-container input:focus {
    border: none;
    box-shadow: none;
}

.search-bar {
    flex: 1;
    text-align: center;
    max-width: 300px; 
    border: 1px solid transparent; 
    border-radius: 4px; 
    padding: 5px; 
    box-shadow: none;
    color: #111111; 
    margin: 0;
}

footer {
    background-color: #07080A;
    color: #F8F8FF; /* ghost white color; may change later*/
    padding: 10px 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-text-container {
    display: flex;
    gap: 25px;
    justify-content: left;
}

.footer-text-container span a {
    color: #F8F8FF;
}

.social-media {
    display: flex;
    gap: 10px;
}

.social_icon img {
    width: 15px;
    height: auto;
}

/* Item Page - Offers (starts here) */
.offer-section {
    margin-top: 10px;
    background-color: transparent;
}

.offer-form {
    background-color: transparent;
    box-shadow: none;
    display: flex-box;
}

.offer-form div {
    margin-bottom: 10px;
}

.offer-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.offer-form input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.offer-form button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

.offer-form button:hover {
    background-color: #0056b3;
}

/*.item-sold-message{
    font-size: 1.2em;
    color: red;
    font-weight: bold;
    margin-top: 10px;
}*/

.offer-section p {
    font-size: 1.2em;
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

.view-offers-button {
    display: inline-block;
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
    font-size: 1em;
}

.view-offers-button:hover {
    background-color: #1e7e34;
}

.offers-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    min-width: 475px;
}

.offers-table th,
.offers-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background: #F8F8F8;
    font-size: 1.2rem;
}

.offers-table th {
    background-color: #f2f2f2;
}   

.offers-table table a {
    text-decoration: none;
    color: #37586D;
}

.offers-table table a:hover {
    color: #002642;
}

.offers-table table td form {
    background: transparent;
    box-shadow: none;
    display: flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
}

.offers-table form {
    padding: 0;
    margin: 0;
    background: transparent;
}

.offers-table table button {
    background-color: #07080A;
    color: #F8F8FF;
    border-radius: 5px;
    padding: 5px 15px;
    text-decoration: none; 
    cursor: pointer;
}

.offers-table table button:hover {
    background-color: #3939e9;
    color: #F8F8FF;
}
/* ends here (Item Page - Offers) */

