<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/easeandedgelogo.png" type="images/png">
    <title>Easel &amp; Edge - Error</title>
    <link rel="stylesheet" href="/styles/default.css">
</head>    
<body class="landing-page">
<%- include('partials/header.ejs') %>

    <main>
        <h1><%= error.status%></h1> 
        <p><%= error.message%></p>
    </main>
    <%- include('partials/footer.ejs')%>