<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- added favivon for fun! -->
    <link rel="icon" href="images/easeandedgelogo.png" type="images/png">
    <title>Easel &amp; Edge - Home</title>
    <link rel="stylesheet" href="styles/default.css">
</head>    

<body class="landing-page">

<%- include('partials/header.ejs') %>
    <main>

        <h1>Easel &amp; Edge</h1>
    
        <p>A curated space where artists and collectors connect. Explore original artwork, digital creations, and handcrafted pieces, whether you're selling, collecting, or bidding on your next masterpiece.</p>


        <a href="/items" class="index-to-items-button"> Start Browsing  &#x2192;</a>
    </main>
    <%- include('partials/footer.ejs')%>