<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- added favivon for fun! -->
    <link rel="icon" href="images/easeandedgelogo.png" type="images/png">
    <title>Easel &amp; Edge - Sell</title>
    <link rel="stylesheet" href="/styles/default.css">
</head>    

<body class="other-pages-background">
    <%- include('partials/header.ejs') %>
    <main class="new-page-main">

        <% if (typeof errorMessage !== 'undefined') { %>
            <p class="error-message"><%= errorMessage %></p>
        <% } %>
        
        <!-- TODO: ADD CONTENT TO SELL/NEW ITEM PAGE -->
        <div class="new-text-container">
            <h1>Sell at Easel &amp; Edge</h1>
            <p>Simply take a photo of your item and upload it!</p>
        </div>


        <div class="form-container">
            <!-- ADD action="#" later. -->
            <form action = '/items' method="POST" enctype="multipart/form-data"> 

                <!-- condition drop down -->
                <label for="condition">Condition</label>
                <select id="condition" name="condition" required>
                    <option value="">(select one)</option>
                    <option value="New">New</option>
                    <option value="Like New">Like New</option>
                    <option value="Excellent">Excellent</option>
                    <option value="Very Good">Very Good</option>
                    <option value="Good">Good</option>
                    <option value="Fair">Fair</option>
                    <option value="Poor">Poor</option>
                    <option value="As Is">As Is</option>
                </select>
    
                <!-- title input -->
                <label for="title">Title</label>
                <input type="text" id="title" name="title" required>
    
                <!-- price input -->
                <label for="price">Price ($)</label>
                <input type="number" id="price" name="price" required min="0" step="0.01">
    
                <!-- details textarea-->
                <label for="details">Details</label>
                <textarea id="details" name="details" rows="5" required></textarea>
                
                <!-- image upload -->
                <label for="image">Image</label>    
                <input type="file" id="image" name="image" accept="images/*" required>
    
                <button type="submit">Submit</button>    
            </form>
        </div>
        
    </main>
    <%- include('partials/footer.ejs') %>
