<header class="header-container">

    <a class="logo" href="/"><img src="/images/easeandedgelogo.png" alt="logo.png"></a>

    <!-- Search Bar : Handles User Search Query-->
    <form id="searchForm" action="/items" method="GET" class="search-bar-container">
        <input id="searchInput" type="text" name="search" class="search-bar" placeholder="Search" value="<%= searchQuery %>">
    </form>

    <!-- DONE: add nav bar : must be centered right-->
    <nav class="nav-bar-header">
        <!-- Active Links--> 
        <a href="/items">Browse</a>
        <a href="/items/new">Sell</a>

        <%if(!user) {%>
            <a href="/users/new">Sign Up</a>
            <a href="/users/login">Login</a>
        <%} else {%>
            <a href="/users/profile"><%= user.firstName %> Profile</a>
            <a href="/users/logout">Logout</a>
        <%}%>

    </nav>
</header>

<%if(errorMessages.length > 0) {%>
    <% errorMessages.forEach(message => { %>
        <div class="error-message">
            <p><%= message %></p>
        </div>
    <% }); %>
<%}%>

<%if(successMessages.length > 0) {%>
    <% successMessages.forEach(message => { %>
        <div class="success-message">
            <p><%= message %></p>
        </div>
    <% }); %>
<%}%>


<script src="/javascript/search.js"></script>