<nav>
    <a href="https://webpages.charlotte.edu/ybatsuk/" target="_blank">CLT Web</a>
    ||
    <a href="https://github.com/yanabatsuk" target="_blank">Github</a>
    ||
    <a href="https://yanabatsuk.github.io/" target="_blank">Github.io</a>
    ||
    <a href="https://www.freecodecamp.org/ybatsuk" target="_blank">freeCodeCamp</a>
    ||
    <a href="https://www.codecademy.com/profiles/ybatsuk" target="_blank">Codecademy</a>
    ||
    <a href="https://www.linkedin.com/in/yanabatsuk/" target="_blank">LinkedIn</a>
</nav>
<p>Page Designed by <a href="batsukdesigns.com/" target="_blank">Batsuk Designs </a>&copy; 2024,</p>
<p>Certified in <a href="https://www.freecodecamp.org/certification/ybatsuk/responsive-web-design" target="_blank">Responsive Web Design</a>, Certified in <a href="https://www.freecodecamp.org/certification/ybatsuk/javascript-algorithms-and-data-structures-v8" target="_blank">JavaScript Algorithms and Data Structures</a></p>
    <a href="https://validator.w3.org/check?uri=referer" id="validation-link-html">
        <img src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" alt="Valid HTML!">
    </a>
    <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation-link-css">
        <img src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
    </a>