<section>
    <h1 class="responsive-heading1">Yana Batsuk's Yappy Bandicoot || ITIS 3135</h1>
</section>
    <nav>
        <a href="./">Home</a>
        ||
        <a href="introduction.html">Introduction</a>
        ||
        <a href="contract.html">Contract</a>
        ||
        <a href="about.html">Nursery</a>
        ||
        <a href="tables.html">Tables</a>
        ||
        <a href="forms.html">Form</a>
    </nav>
    <nav>
        <a href="./stuff/cRA+@@pp%5Eyy.htm">Crappy</a>
        ||
        <a href="./hobby/">Hobby</a>
    </nav>
    <p><span id="slogan">Transform your space into tropical escapes!</span></p>